<div class="pyr">
  <h1>Dirigenza</h1>
  <hr>
  <div  *ngFor="let director of director" class="pick">
    <div class="pyrs">
      <div><img src="{{director?.img}}" class="foto"></div>
      <div>Ruolo: {{director?.ruolo}}</div>
      <div>Nome: {{director?.nome}}</div>
      <div>Cognome: {{director?.cognome}}</div>
      <div>Età: {{director?.eta}}</div>
      <div>Altezza: {{director?.altezza}}</div>
      <div>Nazionalità: {{director?.nazionalita}}</div>
      <br>
  </div>
  </div>
</div>