/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
}
.pyrs, .pyr{
    color: white;
    margin: 15px;
}
.pick{
    width: 250px;
    background-color: rgb(110, 110, 110);
    margin: 50px;
    display: inline-block;
}
.foto{
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
}
button{
    display: block;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: red;
    cursor: pointer;
}
.navbar{
    background-color: red;
}
a{
    background-color: white;
    cursor: pointer;
    margin-left: 5px;
}
.cBtn{
    width: 100px;
    padding: 5px;
    background-color: gray;
    float: right;
    margin-left: 10px;
}
.info{
    float: right;
    margin-right: 20px;
}